/* Narrow */

/* Basic */

body,
input,
textarea,
select {
  font-size: 16pt;
}

.container {
  padding: 0 2em 0 2em;
}

/* Icons */

ul.icons li a {
  width: 1.75em;
}

/* Item */

.item {
  margin-bottom: 20px;
}

/* Header */

#header {
  width: 20%;
}

#logo .image {
  position: relative;
  margin: 0 0 0.5em 0;
}

#nav ul li a {
  font-size: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#nav ul li a span {
  padding-right: 2.25em;
}

#nav ul li a span:before {
  left: 100%;
  margin-left: -1.25em;
  line-height: 2.25em;
}

/* Footer */

#footer {
  margin-left: 20%;
}

/* Main */

#main {
  margin-left: 20%;
}

/* Container */

.container {
  width: 100%;
}

/* Row */

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

.row>* {
  box-sizing: border-box;
}

.row.gtr-uniform>*> :last-child {
  margin-bottom: 0;
}

.row.aln-left {
  justify-content: flex-start;
}

.row.aln-center {
  justify-content: center;
}

.row.aln-right {
  justify-content: flex-end;
}

.row.aln-top {
  align-items: flex-start;
}

.row.aln-middle {
  align-items: center;
}

.row.aln-bottom {
  align-items: flex-end;
}

.row>.imp-narrow {
  order: -1;
}

.row>.col-1-narrow {
  width: 8.3333333333%;
}

.row>.off-1-narrow {
  margin-left: 8.3333333333%;
}

.row>.col-2-narrow {
  width: 16.6666666667%;
}

.row>.off-2-narrow {
  margin-left: 16.6666666667%;
}

.row>.col-3-narrow {
  width: 25%;
}

.row>.off-3-narrow {
  margin-left: 25%;
}

.row>.col-4-narrow {
  width: 33.3333333333%;
}

.row>.off-4-narrow {
  margin-left: 33.3333333333%;
}

.row>.col-5-narrow {
  width: 41.6666666667%;
}

.row>.off-5-narrow {
  margin-left: 41.6666666667%;
}

.row>.col-6-narrow {
  width: 50%;
}

.row>.off-6-narrow {
  margin-left: 50%;
}

.row>.col-7-narrow {
  width: 58.3333333333%;
}

.row>.off-7-narrow {
  margin-left: 58.3333333333%;
}

.row>.col-8-narrow {
  width: 66.6666666667%;
}

.row>.off-8-narrow {
  margin-left: 66.6666666667%;
}

.row>.col-9-narrow {
  width: 75%;
}

.row>.off-9-narrow {
  margin-left: 75%;
}

.row>.col-10-narrow {
  width: 83.3333333333%;
}

.row>.off-10-narrow {
  margin-left: 83.3333333333%;
}

.row>.col-11-narrow {
  width: 91.6666666667%;
}

.row>.off-11-narrow {
  margin-left: 91.6666666667%;
}

.row>.col-12-narrow {
  width: 100%;
}

.row>.off-12-narrow {
  margin-left: 100%;
}

.row.gtr-0 {
  margin-top: 0px;
  margin-left: 0px;
}

.row.gtr-0>* {
  padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
  margin-top: 0px;
}

.row.gtr-0.gtr-uniform>* {
  padding-top: 0px;
}

.row.gtr-25 {
  margin-top: -5px;
  margin-left: -5px;
}

.row.gtr-25>* {
  padding: 5px 0 0 5px;
}

.row.gtr-25.gtr-uniform {
  margin-top: -5px;
}

.row.gtr-25.gtr-uniform>* {
  padding-top: 5px;
}

.row.gtr-50 {
  margin-top: -10px;
  margin-left: -10px;
}

.row.gtr-50>* {
  padding: 10px 0 0 10px;
}

.row.gtr-50.gtr-uniform {
  margin-top: -10px;
}

.row.gtr-50.gtr-uniform>* {
  padding-top: 10px;
}

.row {
  margin-top: -20px;
  margin-left: -20px;
}

.row>* {
  padding: 20px 0 0 20px;
}

.row.gtr-uniform {
  margin-top: -20px;
}

.row.gtr-uniform>* {
  padding-top: 20px;
}

.row.gtr-150 {
  margin-top: -30px;
  margin-left: -30px;
}

.row.gtr-150>* {
  padding: 30px 0 0 30px;
}

.row.gtr-150.gtr-uniform {
  margin-top: -30px;
}

.row.gtr-150.gtr-uniform>* {
  padding-top: 30px;
}

.row.gtr-200 {
  margin-top: -40px;
  margin-left: -40px;
}

.row.gtr-200>* {
  padding: 40px 0 0 40px;
}

.row.gtr-200.gtr-uniform {
  margin-top: -40px;
}

.row.gtr-200.gtr-uniform>* {
  padding-top: 40px;
}